@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Tiny5&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensures navbar stays on top of other content */
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    height: auto;
    margin-right: 10px;
}

.site-name {
    font-size: 35px;
    font-weight: bold;
  font-family: "Tiny5", sans-serif;
    color: lightblue;
    margin-left: 70px;
}

.navbar-right {
    display: flex;
    gap: 1rem;
}

.nav-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--primary-color);
}
